* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
  }

  :root {
    --first-color: #0062bd;
    --second-color: #fafafa;
    --accent: #f89a20;
  }

  #indicator{
    background:var(--accent);
    height: .5rem;
    width: 0;
    position: fixed;
    top: 95px;
    z-index: 999;
  }

  .text-first {
    color: var(--first-color);
  }
  
  .text-second {
    color: var(--second-color);
  }
  
  .text-accent {
    color: var(--accent);
  }

  .navbar-brand {
    height: 80px;
    line-height: 50px;
    width: 200px;
  }
  
  .nav-item .nav-link {
    color: var(--second-color) !important;
  }
  
  .nav-item .nav-link:hover {
    border-bottom: 2px solid var(--second-color);
  }

  .logo {
    width: 40px;
    transform: rotate(50deg);
  }

  .bg-first {
    background-color: var(--first-color);
  }

  .bg-navbar {
    background-color: #EBEBEB;
  }
  
  .bg-accent {
    background-color: var(--accent);
  }


  .navbar-toggler {
    border: 0;
  }

  .navbar-toggler-icon {
    color: var(--second-color);
  }
   
  .nav-link {
    font-size:20px;
  }

  .nav-link:hover {
    color: var(--first-color);
  }
  
  #navbar {
    box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu {
    color: var(--first-color) !important;
  }

  .header {
      height: 80vh;
      background: url(/media/computer-header.jpg);
      background-size: cover;
      background-position: 50% 60%;
  }

  
  .header-posts {
    background: url(/media/header-posts.jpg);
    background-size: cover;
    height: 80vh;
    background-position: 50% 90%;
}
