* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
  }

  :root {
    --first-color: #0062bd;
    --second-color: #fafafa;
    --accent: #f89a20;
  }


  .text-first {
    color: var(--first-color);
  }
  
  .text-second {
    color: var(--second-color);
  }
  
  .text-accent {
    color: var(--accent);
  }

  .navbar-brand {
    height: 80px;
    line-height: 50px;
    width: 200px;
  }
  
  .nav-item .nav-link {
    color: var(--second-color) !important;
  }
  
  .nav-item .nav-link:hover {
    border-bottom: 2px solid var(--second-color);
  }

  .logo {
    width: 40px;
    transform: rotate(50deg);
  }

  .bg-first {
    background-color: var(--first-color);
  }

  .bg-navbar {
    background-color: #EBEBEB;
  }
  
  .bg-accent {
    background-color: var(--accent);
  }


  .navbar-toggler {
    border: 0;
  }

  .navbar-toggler-icon {
    color: var(--second-color);
  }
  
  
  .nav-item .nav-link {
    color: #3490dc !important;
    font-size: 20px;
}
  
  .nav-link:hover {
    color: var(--first-color);
  }
  
  #navbar {
    box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown-menu {
    color: var(--first-color) !important;
  }

  .header {
      height: 80vh;
      position: relative;
    //   background: 
    // /* top, transparent red, faked with gradient */ 
    // linear-gradient(
    //   rgba(189, 120, 120, 0.45), 
    //   rgba(189, 120, 120, 0.45)
    // ),
    // /* bottom, image */
    // url(/media/computer-header.jpg);
    background: linear-gradient( var(--second-color),#bdbdbd94, var(--second-color)),url(/media/computer-header.jpg);
      background-size: cover;
      background-position: center;
  }

  .header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
  }
  
  .header-posts {
    background: url(/media/header-posts.jpg);
    background-size: cover;
    height: 80vh;
    background-position: 50% 90%;
}