* {
    margin: 0;
    padding: 0;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
}

:root {
    --first-color: #0062bd;
    --second-color: #fafafa;
    --accent: #f89a20;
}

::-webkit-scrollbar {
    width: 0;
}

@keyframes animate {
    0%,
    100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

#indicator {
    background: linear-gradient(to top, #008aff, #00ffe7);
    height: 0.5rem;
    width: 0;
    position: fixed;
    top: 95px;
    z-index: 1;
    animation: animate 5s linear infinite;
}

#indicator:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#indicator:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

.text-first {
    color: var(--first-color);
}

.text-second {
    color: var(--second-color);
}

.text-accent {
    color: var(--accent);
}

.navbar-toggler-icon {
    color: var(--second-color);
}

.navbar-brand {
    height: 80px;
    line-height: 50px;
    width: 200px;
}

.nav-item .nav-link {
    color: var(--second-color) !important;
    font-size: 18px;
}

.nav-item .nav-link:hover {
    border-bottom: 2px solid var(--second-color);
}

.logo {
    width: 40px;
    transform: rotate(50deg);
}

.bg-first {
    background-color: var(--first-color);
}

.bg-navbar {
    background-color: #ebebeb;
}

.bg-accent {
    background-color: var(--accent);
}

.navbar-toggler {
    border: 0;
}

#navbar {
    box-shadow: 0 5px 15px -3px rgba(0, 0, 0, 0.2);
}

.dropdown-menu {
    color: var(--first-color) !important;
}

.opacity-custom {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.btn-custom {
    outline: 0;
    border: 0;
    background: none;
    border: 1px solid #d9d9d9;
    padding: 8px 0px;
    margin-bottom: 30px;
    color: #515151;
    text-transform: uppercase;
    width: 125px;
    font-family: inherit;
    margin-right: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.btn-custom:hover {
    border: 1px solid #aedaa6;
    color: #aedaa6;
    cursor: pointer;
}

.header {
    position: relative;
    
    height: 100vh;
    background: url(/media/computer-header.jpg);
    background-size: cover;
    background-position: 50% 60%;
}

// .container-search {
//     position: absolute;
//     left: 0;
//     right: 0;
//     text-align: center;
// }

.header-posts {
    background: url(/media/header-posts.jpg);
    background-size: cover;
    height: 80vh;
    background-position: 50% 90%;
}

.fa-heart:hover {
    color: #db0d0d;
}

.display-custom {
    font-size: 23px;
}

.display-price {
    font-size: 40px;
}

.category_style {
    background-color: var(--accent);
    color: var(--second-color);
    margin-left: 0px;
    width: 140px;
    height: 40px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}
